.block_accessibility {
    position: relative; /* for loader.gif to position absolute */

    /*disable selection*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#accessibility_controls .access-button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 .15em;
    border-radius: 3px;
        /*disable selection*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#accessibility_controls .access-button {
    padding:0;
}

#accessibility_controls .access-button .disabled {
    opacity: 0.3;
    cursor: not-allowed;
}
#accessibility_controls .access-button .disabled:hover {
    color:#fff;
}

#accessibility_controls .access-button a {
    display: block;
    cursor: pointer;
    padding:5px 10px;
    border-radius: 2px;
    text-decoration:none;
    min-width: 1.5em;
}

#accessibility_controls .access-button:active,
#accessibility_controls .access-button:focus,
#accessibility_controls .access-button:hover
 {
    border: 1px solid #0D7f8f;
}

#accessibility_controls .access-button img {
    vertical-align: middle;
}

#accessibility_controls input {
    margin: 0 .2em;
}

#accessibility_controls ul {
    list-style: none;
    margin: .4em 0;
    padding: 0;
}

#loader-icon {
    position: absolute;
    width: 54px;
    height: 55px;
    top: 42%;
    left: 5em;
    background: url('[[pix:block_accessibility|loader]]') !important;
    display: none;
}

#sbar {
    top: 50px !important;
    z-index: 1100 !important; /* one less than profile menu */
}

/* Fix dictionary/text to speech/styles pop-up to allow scrolling and make responsive */
#at-facebox {
    width: 100% !important;
    position: fixed !important;
    bottom: 0 !important;
    right: auto !important;
    left: 0 !important;
    top: auto !important;
}
.at-fb-tb-body {
    width: 96vw !important;
}
div.at-fb-content div {
    height: 30vh !important;
}
.at-fb-footer {
    width: 40px !important;
    float: right !important;
    position: absolute !important;
    top: 10px !important;
    right: 0 !important;
    border-top: 0 solid transparent !important;
}
